*{
  scroll-behavior: smooth;
  --main-bg-color:#15181e;
  --sec-bg-color:#1a1c20;
  --main-color: #ddd;
  --sec-color:#ccc;
  --hover-sec-color:#ddd;
  --card-hover-color: rgba(39, 112, 228, 0.4);
  --link-hover-color: #336fd1;
}

/* Teljes oldal finom megjelenése betöltéskor */
body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  animation: pageFadeIn 0.8s ease-in forwards;
}

@keyframes pageFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/*<----------NAVBAR START---------->*/

.content{
  width: 50%;
  margin: 0 auto;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--main-color);
  margin: 40px 0;
}
.copyright{
  text-align: center;
  padding: 15px;
  color: var(--main-color);
  margin-bottom: 10px;
}

/* Bal oldali sáv (header) */
.header {
  position: fixed;          
  top: 0;
  left: 0;
  width: 80px;              
  height: 100vh;            
  display: flex;
  align-items: center;      
  justify-content: center;
}

/* Navigáció (függőleges lista) */
.header nav {
  display: flex;
  flex-direction: column;   
  gap: 25px;
  border-radius: 30px;
  background-color: var(--sec-bg-color);
  padding: 10px;
  border: 2px solid var(--sec-color);
}

/* Linkek stílusa */
.header nav a {
  color: var(--main-color);
  font-size: 25px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

/* Hover hatás */
.header nav a:hover {
  color:  var(--link-hover-color);
  transform: scale(1.2);
}

/* ---- MOBILNÉZET (max 768px) ---- */
@media (max-width: 768px) {
  .header {
    border-top: 1px solid #333;
    z-index: 3;
    position: fixed;
    bottom: 0;          
    top: auto;
    left: 0;
    width: 100%;        
    height: 70px;       
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec-bg-color);
  }

  .header nav {
    flex-direction: row;    
    gap: 35px;
    padding: 10px 20px;
    border-radius: 0;       
    border: none;
    background: transparent;
  }

  .header nav a {
    font-size: 20px;        
  }
  .content{
  width: 80%;
  margin: 0 auto;
}
}

/*<----------NAVBAR END---------->*/


/*<----------WELCOME START---------->*/

.welcome {
  text-align: center;
  margin-top: 45px;
  position: relative;
}

.welcome h1 {
  color: var(--main-color);
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
 margin-bottom: 25px;
}

/* Színátmenetes szöveg a <span>-hez */
.welcome h2 span {
  background: linear-gradient(90deg, #a51900, #5a01ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

/* Konténer a gombokhoz */
.welcome-contact {
  display: flex;
  flex-wrap: wrap;          
  justify-content: center;  
  gap: 20px;                
}

/* A gomb stílusa */
.welcome-contact-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--main-color);
  border-radius: 20px;
  background-color: var(--sec-bg-color);
  padding: 10px 20px;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;  
}

/* Hover hatás */
.welcome-contact-btn:hover {
  color: var(--main-color);
  background-color: var(--link-hover-color);
  box-shadow: 0 0 25px var(--card-hover-color);
  cursor: pointer;
  border-color: var(--link-hover-color);
}
a{
text-decoration: none;
color: var(--main-color);
}

.profile-pic{
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
  border-radius: 50%;     
  object-fit:cover;      
  overflow:hidden;       
  border: 1px solid rgb(0, 0, 0);
  object-position: 50% 15%;
}
.profile-wrapper {
  position: relative;
  display: inline-block;
}

.status-dot {
  position: absolute;
  top: 31.5px;  
  left: 31.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #0f0f0f; 
  transition: background-color 0.4s, box-shadow 0.4s;
}

.status-dot.online {
  background-color: #00ff00;
  box-shadow: 0 0 8px #00ff00;
}

.status-dot.offline {
  background-color: #ff0000;
  box-shadow: 0 0 8px #ff0000;
}

@media (max-width: 768px) {
  .welcome h1{
    font-size: 2.5rem;
    margin-top: 20px;
  }
  h2{
   font-size: 1.5rem;
  }
  .welcome{
    margin-top: 30px;
  }
  .copyright{
  margin-bottom: 20%;
}
}

/*<----------WELCOME END---------->*/


/*<----------TECH START---------->*/

.card-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 40px; 
  justify-content: center;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}

.card {
  background: var(--sec-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 20px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
  background: var(--card-hover-color);
  box-shadow: 0 0 25px var(--card-hover-color);
  cursor: pointer;
}

.icon {
  font-size: 48px;
  margin-bottom: 15px;
  text-shadow: 0 0 10px rgba(73, 0, 142, 0.15);
}

.label {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .tech {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .tech {
    width: 90%;
    gap: 25px;
  }
}

/*<----------TECH END---------->*/


/*<----------PROJECT START---------->*/

.project-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--sec-bg-color);
  color: var(--sec-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background: var(--card-hover-color);
  color: var(--hover-sec-color);
  box-shadow: 0 0 25px var(--card-hover-color);
}

/* Bal oldali kép */
.project-pic {
  width: 300px;       
  height: 160px;
  object-fit: cover;  
  border-radius: 10px;
  border: .5px solid #ccc;
  flex-shrink: 0;     
}

/* Jobb oldali tartalom */
.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Projekt neve */
.project-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 0 0 10px 0;
}

/* Leírás */
.project-details {
  font-size: 1rem;
  color: var(--sec-color);
  line-height: 1.5;
  margin: 0 0 10px 0;
}
.proj-link{
 text-decoration: none;
}
.plus{
  display: flex;
  justify-content: center;   
  align-items: center;
}
.plus a{
  text-decoration: none;
}
.plus-btn{
  color: var(--main-color);
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.plus-btn:hover{
  color: var(--main-color);
  background-color: var(--link-hover-color);
  box-shadow: 0 0 25px var(--card-hover-color);
  cursor: pointer;
  border-color: var(--link-hover-color);
}
.project-icons i{
  font-size: 30px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-pic {
    width: 100%;
    height: 200px;
  }

  .project-content {
    align-items: center;
  }
}

/*<----------PROJECT END---------->*/

/*<----------RESUME START---------->*/


.resume{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 25px;
}
.resume-btn{
  color: var(--main-color);
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.resume-btn:hover{
  color: var(--main-color);
  background-color: var(--link-hover-color);
  box-shadow: 0 0 25px var(--card-hover-color);
  cursor: pointer;
  border-color: var(--link-hover-color);
}
/*<----------RESUME END---------->*/


/*<----------FADE-IN & SCROLL REVEAL START ---------->*/

/* Alapállapot: átlátszó és picit lejjebb van */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  /* A !important biztosítja, hogy felülírjuk a kártyák beépített hover transition-jét amíg beúsznak */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out !important; 
  will-change: opacity, transform;
}

/* Amikor a JS hozzáadja az active osztályt: megjelenik */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/*<----------FADE-IN & SCROLL REVEAL END ---------->*/